body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #FFF;
}

.swiper {
    display: block;
    width: 100%;
}

.swiper-slide img {
    width: 100%;  
    max-width: 600px;
    max-height: 550px;  
    object-fit: cover; 
    display: block; 
}

.input {
    background-color: red;
    width: 18%;
    font-size: 1rem;
}