body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 2rem auto;
}

.swiper {
    width: 700px;
}

.swiper-slide img {
    width: 100%;  
    max-width: 400px;
    max-height: 550px;  
    object-fit: cover; 
    display: block;
    margin: auto;
}

